* {
color: white;
}

.back {
background-image: url('bg.png');
}

.main-text {
width: calc(70%);
display: block;
margin: 0 auto;
text-align: center;
font-size: 17px;
font-family: 'Times New Roman', Times, serif;
}

.page-text {
width: calc(100%);
display: block;
margin: 0 auto;
text-align: left;
font-size: 17px;
font-family: 'Times New Roman', Times, serif;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #0e0606;
}

li {
float: left;
}

li a {
display: block;
text-align: center;
padding: 16px;
text-decoration: none;
}

li form {
display: block;
text-align: center;
padding: 16px;
text-decoration: none;
}

li a:hover {
background-color: #472626;
}

a[target="_self"] {
  font-style: italic;
}

a:link {
color: rgb(133, 207, 42);
background-color: transparent;
font-size: 17px;
text-decoration: none;
}
  
a:visited {
color: rgb(255, 255, 255);
background-color: transparent;
text-decoration: none;
}
  
a:hover {
color: rgb(152, 0, 0);
background-color: transparent;
text-decoration: underline;
}
  
a:active {
color: rgb(255, 91, 91);
background-color: transparent;
text-decoration: underline;
}

table {
border-collapse: collapse;
width: 100%;
}
  
th, td {
padding: 8px;
text-align: left;
font-size: 18px;
border-bottom: 1px solid #ffffff;
}
  
tr:hover {
background-color: #8b2121;
}

button {
background-color: black;
font-size: 16px; 
}

button:hover {
background-color: rgb(94, 13, 13);
}

label {
font-size: 17px;
}

h1.dotted {
outline-style: dotted;
outline-color: white;
}

h1 {
  text-shadow: 2px 2px rgb(116, 4, 4);
}

img {
height: 200px;
width: 150px;
}

#myheader {
position: relative;
}

